*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Roboto Slab', serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #0f7de7 1.18%, #23faa4 100%);
  height: 65px;
  padding: 1rem 2rem;
}

header > h2{
  color: aliceblue;
  letter-spacing: 2px;
}

.search-bar{
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 16px;
}

.movies-scroller{
  padding: 2rem;
  display: flex;
  justify-items: center;
  gap: 2rem;
  overflow: auto;
}

.page-section > h3{
  margin: 1rem 2rem;
  color: #0a90dc;
}

.movie-card{
  background: linear-gradient(90deg, #0f7de7 1.18%, #0de6e6fc 100%);
  width: 225px;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  box-shadow: 3px 3px 8px grey;
}

.movie-card > img{
  width: 100%;
  border-radius: 8px 8px 0 0 ;
}

.card-details{
  padding: 0.5rem ;
  text-align: center;
  font-size: 0.9rem;
}

.movie-title{
  font-weight: 500;
}

.modal-background{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;

}

.modal-container{
  width: 70%;
  height: 80vh;
  margin: 5rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 5px 5px 8px grey;
  border-radius: 8px;
}

.modal-title{
  display: flex;
  justify-content: space-between;
}

.modal-close-btn{
  height: 1.3rem;
  width: 1.3rem;
  color: white;
  background-color: #0da6f7;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

.modal-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  padding: 2rem;
  overflow-y: overlay;
  height: 90%;
  justify-items: center;
}

@media (min-width: 350px) and (max-width:860px){
  .modal-container{
    width: 85%;
    height: 85vh;
    padding: 1.2rem;
  }

  .modal-body{
    grid-template-columns: 1fr;
    justify-items: center;
  }
}